.landing {
    width: 100%;
    overflow: hidden;
    background-color: #dddadaee;
}

.landing-nav {
    position: fixed;
    width: 100%;
    height: 4.6rem;
    z-index: 70;

     @include screen(small){
        background-color: $primary;
        box-shadow: 0 7px 8px rgba(61, 60, 60, 0.651);
     }

    &__container {
        padding: 0 6% 0 6%;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;

        @include screen-x(1024px , 1150px ){
            padding: 0 4% 0 4%;
        }
    }


    &__logo {
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: start;
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            width: 55px;
            position: relative;
            top: -4px;
        }

        h4 {
            position: relative;
            top: 0;
            margin: auto;
            font-size: 21px;
            font-weight: bolder;
            font-family: $paypen-font;
        }
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            flex-direction: row;
            gap: 32px;
            margin: 0;
            white-space: nowrap;

            @include screen-x(1024px , 1150px ){
               gap: 26px;
            }

            a {
                text-decoration: none;
                font-size: 16px;
                color: #fff;
                font-weight: bold;
                margin: auto;

                &:hover {
                    color: rgb(197, 197, 10);
                }
            }

            .active {
                color: rgb(197, 197, 10);
            }

        }

        #loginButton {
            gap: 7px;
            display: flex;
            flex-direction: row;
            margin-left: 23px;


            @include screen-x(1024px , 1150px ){
                gap: 5px;
             }

            .button {
                padding: 8px 15px 8px 15px;
                border: 2.5px solid #c7c4c4;
                border-radius: 8px;
                font-weight: bold;
                color: #fff;
            }

            .button1 {
                border: 0;
                position: relative;
                top: 2px;
            }
        }
    }

}

.nav-responsive {
    position: fixed;
    top: 4.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: $primary;
    overflow: hidden;
    z-index: 50;
    text-align: center;

    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 10%;
        white-space: nowrap;

        a {
            text-decoration: none;
            font-size: 19px;
            color: #fff;
            font-weight: bold;
            margin: auto;

            &:hover {
                color: rgb(197, 197, 10);
            }
        }

        .active {
            color: rgb(197, 197, 10);
        }

    }

    #loginButton {
        gap: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 14px;
        margin-left: 5.4%;

        .button {
            padding: 8px 15px 8px 15px;
            border: 2.5px solid #c7c4c4;
            border-radius: 8px;
            font-weight: bold;
            color: #fff;
            font-size: 19px;
        }

        .button1 {
            border: 0;
        }
    }

    .desc{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem;

        .line{
            width: 90%;
            border-radius: 25px;
            height: 1.4px;
            background-color: #aaa;
        }

        p{
            color: #fff;
            width: 88%;
            margin-top: 1rem;
            text-align: start;
            font-size: 18px;
        }
    }
}

.menu-button{
    display: flex;
    align-items: center;

    .icon{
        font-size: 22px;
        border: 7px solid #a095aa;
        padding: 11px;
        background-color: #fff;
        border-radius: 50%;
    }
}

//navabr Position
.fixed {
    background-color: $primary;
    transition: 0.12s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 7px 8px rgba(61, 60, 60, 0.651);
}

.relative {
    background-color: transparent;
    transition: 0.12s cubic-bezier(0.075, 0.82, 0.165, 1);

     @include screen (small){
        background-color: $primary;
     }

     @include screen (medium){
        background-color: $primary;
     }
}

.text-primaire {
    color: #740fd3;

    @include screen (small){
        color: #fff;
     }

     @include screen (medium){
        color: #fff;
     }
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(31, 30, 30, 0.795);
    z-index: 40;
}

.open-menu{
    width: 100%;
    transition: .12s cubic-bezier(0.075, 0.82, 0.165, 1);

    @include screen (medium){
      width: 50%;
     }
}

.close-menu{
    width: 0;
    transition: .12s cubic-bezier(0.075, 0.82, 0.165, 1);
}