.landing-footer{
    width: 100%;
    margin-top: 5rem;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.842);

    @include screen(small){
      margin-top: 1rem;
    }

     h5{
        color: #fff;
        font-weight: bold;
     }
}