$primary: #5838fc;
$color2: #2c234d;
$color3:#555353;
$secondary: #261c5a;
$black: #242424;
$black-color:#111111;
$bg-color:#242222;
$paypen-font: 'Playpen Sans', cursive;

*{
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    list-style: none;
}